h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

section {
  background: lightgrey;
  min-height: 2rem;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.color {
  padding: 1rem;
  margin: 1rem;
  color: white;
  cursor: pointer;
}

.carre {
  background: black;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.harry {
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

button {
  outline: none;
}
